nav {
    display: flex;
    justify-content: center; /* Centers the navbar horizontally */
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: center; /
    
}

nav ul li {
    margin-right: 20px;
    justify-content: center; 
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    justify-content: center; 
}

nav ul li a:hover {
    background-color: #333;
}

.logo {
    max-width: 60px;
    height: auto;
    margin-top: 5px;
  }

  footer {
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }